*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* body{
  background: cyan;
} */

.myBtn{
  width: 60%;
  margin: 20px auto!important;
}

.myPara{
  padding: 20px 30px;
}
.myContact{
  width: 80%;
  margin:auto;
}

.img-bird{
  width: 50%;
  height: auto;
}

@media screen and (min-width:576px){
  .myPara{
    padding: 50px 20px!important;
  }
  .myContact{
    width: 80%;
    margin:auto;
  }
}

@media screen and (min-width:768px){
  .myPara{
    padding: 50px 100px;
  }
  .myContact{
    width: 60%;
    margin:auto;
  }
}
